@charset "UTF-8";
.left {
  float: left; }

.right {
  float: right; }

.clear {
  float: none;
  clear: both;
  font-size: 0px;
  line-height: 0px;
  height: 0px;
  min-height: 0px;
  padding: 0px;
  margin: 0px;
  overflow: hidden; }

body {
  font-family: "微软雅黑";
  font-size: 14px; }
  body a, body img {
    outline: none;
    blr: expression(this.onFocus=this.blur()); }
  body a:focus {
    outline: none; }

@media screen and (max-width: 640px) {
  .p_hide {
    display: none; } }
@media screen and (max-width: 1000px) {
  .i_hide {
    display: none; } }
.header {
  width: 100%;
  height: 74px;
  padding: 0 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 101; }
  .header .navBg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 74px;
    background: black;
    z-index: 0; }
  .header .logo, .header .list-btn {
    position: relative;
    height: 74px;
    margin: 0 10px;
    cursor: pointer;
    margin-left: 15%;
    line-height: 64px;
    z-index: 2; }
    .header .logo a, .header .list-btn a {
      outline: none;
      text-decoration: none; }
    .header .logo img, .header .list-btn img {
      outline: none; }
  .header .list-btn {
    display: none; }
    .header .list-btn img {
      width: 20px;
      height: 20px; }
  .header .logo img {
    width: 140px;
    height: 22px; }
  .header nav {
    height: 74px;
    position: absolute;
    line-height: 74px;
    right: 25%;
    margin: 0px auto; }
    .header nav ul {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%; }
      .header nav ul li {
        list-style-type: none;
        float: left;
        padding: 0 10px;
        margin-right: 5px; }
        .header nav ul li a {
          color: #fff;
          outline: none;
          text-decoration: none;
          font-size: 14px; }
  .header .nav-right .loginModle {
    text-align: center;
    margin-top: 24px;
    height: 34px;
    margin-right: 10px;
    position: relative;
    width: 130px; }
    .header .nav-right .loginModle a {
      font-size: 12px;
      color: #fff;
      outline: none;
      text-decoration: none;
      font-size: 14px; }
    .header .nav-right .loginModle .login {
      width: 100%;
      color: #fff; }
    .header .nav-right .loginModle .userInfo {
      width: 100%;
      position: relative;
      z-index: 105;
      text-align: center; }
      .header .nav-right .loginModle .userInfo .urserhead img {
        width: 25px;
        height: 25px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
      .header .nav-right .loginModle .userInfo .urserhead > a {
        width: 50%;
        vertical-align: middle;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
        text-overflow: ellipsis; }
      .header .nav-right .loginModle .userInfo .urserconte {
        padding-top: 40px;
        padding-bottom: 10px;
        width: 100%;
        background: #303030;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        top: -10px;
        left: 0px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding-bottom: 30px; }
        .header .nav-right .loginModle .userInfo .urserconte > div {
          margin: 3px auto;
          height: 24px; }
        .header .nav-right .loginModle .userInfo .urserconte a {
          font-size: 12px;
          color: #fff;
          display: inline-block;
          width: 85%;
          line-height: 24px;
          border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          outline: none;
          text-decoration: none;
          font-size: 14px; }
        .header .nav-right .loginModle .userInfo .urserconte a:hover {
          color: #646464;
          background: #fff; }
        @media only screen and (max-width: 1000px) {
          .header .nav-right .loginModle .userInfo .urserconte > div {
            display: none; }
          .header .nav-right .loginModle .userInfo .urserconte > div:last-child {
            display: block; } }
  @media only screen and (max-width: 1000px) {
    .header .logo, .header .list-btn {
      margin-left: 3%;
      line-height: 64px;
      display: block; }
    .header .logo img {
      width: 120px;
      height: 20px; }
    .header nav {
      display: none;
      position: absolute;
      top: 74px;
      left: 0px;
      width: 100%;
      padding: 0 10px;
      margin: 0;
      height: 50px;
      line-height: 50px;
      background: #322c38;
      z-index: 999999999;
      opacity: 0.8;
      filter: alpha(opacity=80); }
      .header nav .curBg {
        display: none; }
    .header .nav-right {
      float: right; }
      .header .nav-right .loginModle {
        margin-right: 0px;
        width: 100px; } }

header:before, header:after {
  content: "";
  clear: both;
  display: table; }

.curBg {
  background: #f3856c;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  margin-left: 0px; }

/* 底部样式表 */
.bottom {
  border-top: 1px solid  #ddd; }
  .bottom > div {
    border-right: 1px solid #ddd;
    padding: 0;
    padding-bottom: 20px;
    margin-top: 30px; }
    .bottom > div ul {
      margin: 0;
      padding: 0;
      width: 100%; }
      .bottom > div ul li {
        list-style-type: none;
        text-align: center;
        line-height: 25px; }
        .bottom > div ul li input[type="button"] {
          border: 0;
          width: 98px;
          line-height: 28px;
          outline: none;
          color: #fff;
          background: url(../img/black_btn.jpg) no-repeat; }
        .bottom > div ul li h3 {
          margin-top: 0;
          font-size: 18px;
          font-weight: 100; }
        .bottom > div ul li a {
          display: block;
          width: 100%;
          height: 100%;
          font-family: "微软雅黑";
          font-size: 12px;
          color: #6d6d6d; }
          .bottom > div ul li a img {
            margin-left: 5px;
            border: 0; }
        .bottom > div ul li .erweima {
          width: 180px;
          overflow: hidden;
          margin: 0 auto; }

.datang-vs {
  margin-top: 15px; }
  .datang-vs .netvs {
    margin-bottom: 5px;
    color: #6d6d6d;
    font-size: 12px;
    text-align: center; }
    .datang-vs .netvs a {
      margin: 0 10px;
      color: #0088cc; }

/*# sourceMappingURL=nav.css.map */
