@charset "utf-8";
/* 底部样式表 */
.bottomContainer {
    background: #f4f4f4;
    width: 100%!important;
    padding:0px 5px;
    .bottom {
        border-top: 0;
        max-width: 900px;
        margin: 0 auto;
        >div {
            border-right: 1px solid #ddd;
            padding: 0;
            min-height: 136px;
            margin-top: 50px;
            ul {
                margin: 0;
                padding: 0;
                width: 100%;
                li {
                    list-style-type: none;
                    text-align: center;
                    line-height: 25px;
                    h3 {
                        margin-top: 0;
                        margin-bottom: 18px;
                        font-size: 16px;
                        color: #000;
                        font-weight: 100;
                    }
                    @media screen and(max-width:768px) {
                        h3 {
                            font-size: 14px;
                        }
                    }
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        font-family: "微软雅黑";
                        font-size: 12px;
                        color: #999;
                        &:hover {
                            text-decoration: none;
                        }
                        img {
                            border: 0;
                        }
                    }
                    
                    .erweima {
                        width:auto;
                        margin: 20px auto;
                        overflow: inherit;
                        >a {
                            display: inline-block;
                            width: 33.3333333%;
                            position: relative;
                            float:left;
                            .erwm_code,.hoverImg{
                                display: none;
                            }
                            &:hover .erwm_code{
                                display: block;
                                width: 98px;
                                height: 98px;
                                position: absolute;
                                left: -20px;
                                top: -100px;
                            }
                            &:hover .smallImg{
                                display: none;
                            }
                            &:hover .hoverImg {
                                display: inline-block;
                            }
                            img{
                                margin:0px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .bottom {
        .pcShow {
            display: block;
        }
        .phone {
            display: none;
        }
    }
    .datang-vs {
        margin-top: 27px;
        .netvs {
            a {
                margin: 0 10px;
                color: #21a0e8;
            }
            .d2 {
                color: #d2d2d2;
            }
            margin-bottom: 5px;
            color: #999;
            font-size: 12px;
            text-align: center;
        }
        .phone {
            display: none;
        }
        .pcShow {
            display: block;
        }
    }
    @media screen and (max-width:768px) {
        .bottom div.bdnone {
            border-right: none;
        }
        .bottom {
            .pcShow {
                display: none;
            }
            .phone {
                display: block;
            }
        }
        .datang-vs {
            .phone {
                display: block;
            }
            .pcShow {
                display: none;
            }
        }
    }
}
// .bottomContainer{  
//  height:200px;
//  max-width:1024px;
//  margin:0px auto;
//  background:#fff;
//  .row{
//      margin-right:0px;
//  }
//}