@charset "UTF-8";   

//字体
$white: #fff !default;
$blue : #21a0e8 !default;
$lightblue :#7ac6f1 !default;
$red : red !default;
$black: #333 !default; 


//背景
$white_bg: #fff !default;
$blue_bg : #21a0e8 !default;
$lightblue_bg :#7ac6f1 !default;
$red_bg : red !default;
$black_bg: #333 !default; 